ol{
    list-style: none;   
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}

/*Agregar texto antes de que se visualice el elemento de list item */
ol li::before{
    content: "Curso " counter(contador) ") ";
    color: #ff6f00;
}
ol li ::after{
    content: '.';
}