h1{
    text-align: center;
    color: crimson;

}
div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
    background: linear-gradient(#126E82, #51C4D3, #D8E3E7);
    /* background: linear-gradient(90deg, rgb(4, 238, 255) 0%, rgb(244, 248, 7) 75%); */
}
.icono_busqueda{
    font-size: 2.5em; 
    color: rgb(178, 4, 247);
    vertical-align: bottom;
}
.icono_azul{
    font-size: 2.5em; 
    color: cornflowerblue;
    vertical-align: bottom;
}
.icono-rojo{
    font-size: 3em;
    color: crimson;
    vertical-align: bottom;
}